/*  Collors вторичний #212121 */
/*  Collors основний #757575 */
/*  Акцент #2196F3; */
/* Button-active */
/* --bacground-team F5F4FA */

:root{
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--color-logotip: #000000;
--background: #FFFFFF;
--footer-color: #2F303A;
--background-color: #F5F4FA;
--color-address:rgba(255, 255, 255, 0.6);
--button-active:#188CE8;
--badground-team: #F5F4FA;
} 

html{
    box-sizing: border-box; /* pading+border+content Точні розміри */
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body
{
   background-color: #FFFFFF;
   color: var(--primary-text-color);
   font-family: Roboto, sans-serif;
   
   /* margin-top: 0px; */
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
} */

.list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}   

    /*  text-decoration: none; */
.logo, .link, .works,
.logo-foot, .contact
{
    text-decoration: none;
}

                                        /*  Header  */
.header-container{
background-color: var(--background); 
margin-top: 0px;
}

.container{
    
height: 80px;
width: 1200px;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
margin-bottom: 30px;
}



.logo{
    color:var(--color-logotip);
    text-decoration: none;   
}

.logo-span{
    color: var(--accent-color);
}

    /* Site Nav */
.site-nav,
.site-nav .link{
    color: var(--title-text-color);
    display: flex;   
}


/* .site-nav li{
    margin-right: 50px;
}
.site-nav .item:last-child{
   margin-right: 0px; 
}    можно записать короче см ниже*/

.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--accent-color);
}


.cont-nav .link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    
}

.cont-nav .link:hover,
.cont-nav .link:focus{
    color: var(--accent-color);
}

.link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

                                        /* Main */

    /* Hero */

.hero{
    background-color:var(--footer-color) ;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;  
}

.hero-title{
    color:var(--background);   
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;   
    letter-spacing: 0.06em; 
    text-transform: uppercase;   
    margin-top: 0px; 
    margin-bottom: 40px;
    /* outline: 2px solid tomato;        */
}

.title{
    color: var(--title-text-color);    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.hero-button{
    background-color:var(--accent-color) ;
    color:var(--background) ; 
    font-family: inherit;
    margin-top: 0px;
    margin-bottom: 30px;
    min-width: 216;   
    height: 50px;
    padding: 10px 32px;
    text-align: center;
}

.hero-button:focus,
.hero-button:hover{
    background-color: var(--button-active) ;
    color: var(--background);
    font-family: inherit;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

.hero-benefits{    
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
}



    /* Button */
.button{
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-family: inherit;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}  

.button:hover,
.button:focus{
    background-color: var(--accent-color);
    color: var(--background);
    border: 1px solid transparent;
    border-radius: 4px;
}  

    /* Text P */
.text{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;   
    letter-spacing: 0.03em;
}

.home-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.team{
    background-color: var(--badground-team);
}

.name{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    /* line-height: 19;     Обрати внимание когда будет инет         */
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;

    
}

.text-name{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    /* line-height: 19;    Сюда тоже     */
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
}



    /* Footer */
.logo-foot{
    color: var(--background);
}

footer{
    background-color: var(--footer-color);
}

.address{
    color: var(--background);
}

.contact{
    color: var(--color-address);
}

                    /* project */
.project-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0px;
    margin-bottom: 0px;
    outline: 2px solid rgb(255, 208, 0);
}

.project-text{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
    outline: 2px solid tomato;

}
