/*  Collors вторичний #212121 */
/*  Collors основний #757575 */
/*  Акцент #2196F3; */
/* Button-active */
/* --bacground-team F5F4FA */

:root{
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--color-logotip: #000000;
--background: #FFFFFF;
--footer-color: #2F303A;
--background-color: #F5F4FA;
--color-address:rgba(255, 255, 255, 0.6);
--button-active:#188CE8;
--badground-team: #F5F4FA;
--border: #EEEEEE;
--color-icon: #F6F5FB;
--color-seti:#AFB1B8;
--color-backdrop: rgba(0, 0, 0, 0.2);
--color-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
} 
/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

html{
    box-sizing: border-box; /* pading+border+content Точні розміри */
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body
{
   background-color: #FFFFFF;
   color: var(--primary-text-color);
   font-family: Roboto, sans-serif;   
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}   

    /*  text-decoration: none; */
.logo, .link, .works,
.logo-foot, .contact
{
    text-decoration: none;
}

                 /*  Header  */

.heder-cotanier.container{
      margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 1200px;
}          

.heder-cotanier {
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 15px;
    border-bottom: 1px solid #ECECEC;
}
.main-list {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    align-items: normal;
    justify-items: flex-end;
}

.item-nav{
    padding: 32px;
}
.container{ 
width: 1200px;
margin-left: auto;
margin-right: auto;
text-decoration: none;
padding-left: 15px;
padding-right: 15px;

}

.container-nav{
    display: flex;
    align-items: center;
    color: var(--accent-color);
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    
}

.logo{
    color: var(--color-logotip);
        text-decoration: none;
        font-weight: 700;
        font-size: 26px;
        font-family: Raleway, sans-serif;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        margin-right: 93px;
    /* text-decoration: none;
    margin-right: 93px; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2px; */
}

.logo-span{
    color: var(--accent-color);
        
}
     /* Icon heder */

.icon-header{
    fill: var(--primary-text-color);  
    margin-right: 10px;  
    display: inline-flex;    
    content: "";
    width: 16px;
    height: 12px;
    padding: 0px;
    background-position: cover;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


    /* Site Nav */

.site-nav {
    display: flex;
    align-items: center;
    transition: transform 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0);
}
.site-nav .list {
    display: block;
}
.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.site-nav .link:hover, 
.site-nav .link:focus,
.icon-header:focus,
.icon-header:hover{
    color: var(--accent-color);    
}

.site-nav .link {
    display: block;
    color: var(--title-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.cont-nav{
display: flex;
    margin-left: auto;
    align-items: center;
}
.cont-nav .item:not(:last-child) {
    margin-right: 50px;
}

.cont-nav .link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;      
    
}

.cont-nav .link:hover,
.cont-nav .link:focus{
    color: var(--accent-color);
}

.link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
   
}

.link.current{
    position: relative;
    color: var(--accent-color);    
}

.link.current::after {
    display: inline-block;
    content: "";
    position: absolute;
    display: flex;
    bottom: 0; 
    left: 0;

    width: 100%;
    height: 4px;      

    background-color: var(--accent-color);
    border-radius: 2px;
}


                        /* Hero */
/*  */
.hero{
    background-color:var(--footer-color) ;         
    background-repeat: no-repeat; /*не повторює зображення*/ 
    background-position: center; /* центрірує зображення, є ще top right.... */
    /* background-size: 100% 100% або cover - зберігає пропорції ; розтягує картинку  */
    background-size: cover;
    /* background-attachment: fixed; єфект паралакc картинка остаеться на месте при скролинге */
    /* background-attachment: scroll; картинка скролиться з контентом він йде за замовчуванням  */
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('../images/iImg-overlay.jpg'); /*  загрузка зображення фоном */
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px; 
    padding-top: 200px;
    padding-bottom: 200px;    
}

.hero-title{
    color:var(--background);   
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;   
    letter-spacing: 0.06em;
    
    
    text-transform: uppercase;   
    margin-top: 0px; 
    margin-bottom: 0px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
}

            /* Переваги */
.perevagu{
    padding-top: 94px;
    padding-bottom: 94px;
}
.title{
    color: var(--title-text-color);    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-top: 0px;
    margin-bottom: 0px;

}

.hero-button {
    background-color:var(--accent-color) ;
    color:var(--background); 
    font-family: inherit;
    margin-top: 40px;    
   
    min-width: 216px;   
    height: 50px;
    padding: 10px 32px;
    text-align: center;
    border: 1px solid transparent;
}

.hero-button:focus,
.hero-button:hover{
    background-color: var(--button-active) ;
    color: var(--background);
    font-family: inherit;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.benefits{
    display: flex;   
    gap: 30px;  
}

.icon-benefits{
    background-color: var(--background-color); 
    width: 270px;
    height: 120px;  
    margin-bottom: 30px;
    padding: 25px 100px;
    border-radius: 4px;
}
.icon-benefits:focus,
.icon-benefits:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: var(--color-icon);
    border-radius: 4px;    
}

.link-seti{
    display: flex;
    background-position: center;
    content: "";
    
    width: 40px;
    height: 40px;
      
    border-radius: 50%;      
    padding: 12px 12px;   
    fill: var(--color-seti);
}

.seti{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.link-seti:focus,
.link-seti:hover{
    background-color: var(--accent-color);
    fill:  var(--background);
}

    /* Button */
.button{
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-family: inherit;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
}  

.button:hover,
.button:focus{
    background-color: var(--accent-color);
    color: var(--background);
    border: 1px solid transparent;
    border-radius: 4px;
}  

    /* Text P */
.text{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;   
    letter-spacing: 0.03em;

    margin-top: 0px;
    margin-bottom: 0;

    padding-top: 10px;
    padding-bottom: 0px;
}

.container-home{       
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 94px;
        
}

.working{
    display: flex;
    gap: 30px;
    
    padding-top: 50px;
    padding-bottom: 0px;           
}

.label{
    position: absolute;
    width: 370px;
    height: 70px;
    padding: 27px;        
    margin-top: 224px;        
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
        
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;        
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: var(--background);
}
.label{
    position: absolute;
    width: 370px;
    height: 70px;
    padding: 27px;        
    margin-top: 224px;        
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
        
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;        
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: var(--background);
}


            /* Наша команда */

.home-title{
    color: var(--title-text-color);
    width: 1200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 94px;
    padding-bottom: 0px;
    

    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    text-align: center;
}

.team{   
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;   
    display: flex;
    gap: 30px;

    padding-top: 50px;
    padding-bottom: 94px;
}
/* .team .item:not(:last-child) {
    margin-right: 50px;
} */

.container-team{
    background-color: var(--badground-team);
}

.name{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 0px;     
}

.text-name{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2; 
    letter-spacing: 0.03em;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
}

.name-team{
   
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background);
}

    /* Footer */
.logo-foot{
    color: var(--background);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2px;
}

.container.foot{
   padding-top: 60px;   
}

footer{
    background-color: var(--footer-color);
    
}

.address{
    color: var(--background);
    margin-top: 20px;
}
.main-address{  
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    padding: 0;  
}

.kontakt>a{
    padding: 0;
    
}
.contact{
    color: var(--color-address);       
}

address{
    font-style: normal;
}

.mail{
    padding-top: 9px;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.link-footer{
    display: flex;   
    flex-direction: column;
    margin-left: 70px;
    
}
.link-footer p {
    text-transform: uppercase;
    text-align: center;
    color: var(--background);
    margin-bottom: 20px;
    margin-right: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
}
.container.foot{
    padding-top: 60px;
    padding-bottom: 60px;
    /* padding-left: 215px; */

}

.foot{
    display: flex;
       
 } 
.seti .link-seti {
    margin: 0px;
}

.seti {
    display: flex;   
    justify-content: center;
    gap: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
}


.link-seti {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--background);
    background: rgba(184, 177, 177, 0.1);
}

.link-seti:hover,
.link-seti:focus {
    background-color: var(--accent-color);
}

.seti-name{
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--color-seti);        
    display: flex;
}

.seti-name:focus,
.seti-name:hover{
    background-color: var(--accent-color);
    fill: var(--background);
}



                    /* project */
.project-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-bottom: 0px;    
}

.project-text{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    margin-top: 4px;
    margin-bottom: 0px;   
}

        /* < !-- Навігація по сайту --> */
.filtres{
    padding-top: 94px;
    padding-bottom: 34px;   
   }

.filtres-project{
    display: flex;    
    padding-top: 0px;
    padding-bottom: 0px;
    
    flex: wrap;
    justify-content: center
}

.filtres-project .item:not(:last-child){
 margin-right: 8px;
}

.filtres-button{
    text-align: center;
}

.project{
    padding-top: 0px;
    padding-bottom: 94px;
}

.project-portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.name-project{
    
    background:var(--background);   
    padding: 24px 20px;
    border-bottom: 1px solid var(--border);       
}

.name-project:focus,
.name-project:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works{
    position: relative;
    overflow: hidden;
    
}


.features-card{
    position: absolute;
    left: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    /* transition: transform 2000ms;     */
    text-align: left;
    opacity: 0.4;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white);
     /* transition-property: transform;
    /* transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  або*/ 
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    
}

.proj:hover .features-card{
    transform: translateY(0);
    background-color:rgba(33, 150, 243, 0.9);
    color: var(--background);
}


.client{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;
   
}

.client-icon{
    display: flex;  
    padding-top: 50px;
    padding-bottom: 94px;
    fill:var(--color-seti);
    
    
}
.client-icons{
    display: flex;
    gap: 30px;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-left: 30px;
}
.client-icons:focus,
.client-icons:hover{
    border: 1px solid #2196F3;
    border-radius: 4px;
    fill: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




            /* Modal  */
.backdrop{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;    
    background: var(--color-backdrop);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    
    width: 100%;
    height: 100%;
    max-width: 528px;
    max-height: 581px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background: var(--background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-close{
    position: absolute;
    display: flex;   
    height: 30px;
    top: 8px;
    right: 8px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px;
    /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal-text{
    font-weight: 700;
    line-height: 23px;
    font-size: 20px;
    letter-spacing: 1.15;
    text-align: center;
    color: var(--title-text-color);margin-top: 40px;
}

